.content-section {
}

.post-section {
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.post-grid-big {
    gap: 20px;
}

.post-item {
    background: #f0f0f0;
    height: 3.5em;
    padding-left: 0.5em;
    padding-top: 0.3em;
    font-size: 26.5px;
    grid-column: 1 / -1;
    border-radius: 10px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    user-select: none;
}

.post-item-big {
    height: 3em;
    font-size: 2.75em;
}

.post-time {
    margin-left: 0px;
    font-size: 17.5px;
    margin-top: 1em;
    user-select: none;
}

.post-time-big {
    font-size: 0.4em;
    margin-top: 1.6em;
}

.post-item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 20px -20px inset, rgba(0, 0, 0, 0.3) 0px 5px 20px -15px inset;
}

.post-item:active {
    background: #f8f8f8;
}

.post-list {
    background: #f0f0f0;
    padding-left: 1em;
    padding-top: 1em;
    margin-left: 10.2em;
    width: 275px;
    border-radius: 10px;
    height: 25em;
}

.post-list2 {
    margin-left: 13.4em;
}

.post-list-p {
    margin-bottom: 5px;
    font-size: 25px;
}

.post-list-li2 {
    list-style-type: "";
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.post-list-li {
    list-style-type: "-  ";
    margin-left: 25px;
    font-size: 19.75px;
}

.post-list-ul {
    margin-top: 5px;
}

.section-title {
    font-size: 48px;
    margin-bottom: 7px;
    max-width: calc(100vw - 10vw);
}

.section-text {
    font-size: 1.25em;
    margin-bottom: 20px;
    margin-left: 5px;
    max-width: 40em;
    line-height: 1.4;
}

.section-date {
    color: #555555;
}

.section-list {
    font-size: 1.25em;
    margin-left: 35px;
    max-width: 70vw;
}

.image {
    height: 10em;
}

.card {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

.card-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.card-subtitle {
    margin-bottom: 20px;
}

.card-image {
    background: #f0f0f0;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}